<!-- navbar -->
<nav
  class="navbar navbar-expand navbar-dark justify-content-center"
  style="background-color: #0d7dcc"
>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login">Login</a>
    <a class="nav-item nav-link active" routerLink="/signup">Sign Up</a>
  </div>
</nav>
<!-- container for signup form -->
<div class="container">
  <div class="row justify-content-center m-5">
    <div class="col-md-6">
      <div class="card">
        <!-- title -->
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register Informations</h6>
        </div>
        <!-- form -->
        <form>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <!-- Username -->
            <div class="form-group">
              <label for="exampleInputUsername1">Username</label>
              <input
                formControlName="username"
                type="username"
                class="form-control"
                id="exampleInputUsername1"
                placeholder="Enter Username"
              />
              <div
                class="text-danger"
                *ngIf="
                  signupForm.controls['username'].dirty &&
                  signupForm.hasError('usernameError', 'username')
                "
                >Username is not valid
                </div>
              <!-- Email Adress -->
              <label for="exampleInputEmail1">Email address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              <div
                class="text-danger"
                *ngIf="
                  signupForm.controls['email'].dirty &&
                  signupForm.hasError('pattern', 'email')
                "
                >Email is not valid</div
              >
            </div>
            <!-- Password -->
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
              <div
                class="text-danger"
                *ngIf="
                  signupForm.controls['password'].dirty &&
                  signupForm.hasError('required', 'password')
                "
                >Password is required</div
              >
              <div
                class="text-danger"
                *ngIf="
                  signupForm.controls['password'].touched &&
                  signupForm.hasError('pattern', 'password')
                "
                >Password is too weak</div
              >
            </div>
            <!--Confirm  Password -->
            <div class="form-group">
              <label for="exampleInputPassword2">Confirm Password</label>
              <input
                formControlName="confirmpassword"
                type="password"
                class="form-control"
                id="exampleInputPassword2"
                placeholder="Confirm Password"
              />
              <div
                class="text-danger"
                *ngIf="
                  signupForm.controls['confirmpassword'].dirty &&
                  signupForm.hasError('passwordMismatch', 'confirmpassword')
                "
                >Passwords did not match</div
              >
            </div>

            <!-- Login button -->
            <button
              [disabled]="!signupForm.valid"
              type="submit"
              class="btn btn-primary m-2"
            >
              Login
            </button>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
